XML/PedroPascal.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PedroPascal">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="awards">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="award" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name" />
                                        <xs:element type="xs:string" name="category" />
                                        <xs:element type="xs:short" name="year" />
                                        <xs:element name="production">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="id"
                                                                      use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                            <xs:element name="won" type="xs:string" minOccurs="0" />
                                            <xs:element name="nominated" type="xs:string"
                                                        minOccurs="0" />
                                        </xs:choice>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="series">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="serie" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="title" />
                                        <xs:element name="duration">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:short"
                                                                      name="yearStart" use="optional" />
                                                        <xs:attribute type="xs:short" name="yearEnd" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="genre" />
                                        <xs:element type="xs:byte" name="seasons" />                    
                                        <xs:element type="xs:string" name="createdBy" maxOccurs="unbounded" minOccurs="0" />
                                        <xs:element type="xs:string" name="character" />
                                        <xs:element name="poster">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="path" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="awards" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="award" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                 <xs:extension base="xs:string">
                                                                    <xs:attribute name="id" type="xs:string"/>
                                                                 </xs:extension>                                          
                                                            </xs:simpleContent>
                                                            
                                                        </xs:complexType>
                                                
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType> 
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>